doctype html
html
  head
    title Knowldege based app
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700|Raleway:300,400,400i,500,500i,700,800,900" rel="stylesheet")
    link(rel='stylesheet' , href='/plugins/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' , href='/plugins/fontawesome/css/font-awesome.min.css')
    link(rel='stylesheet' , href='/stylesheets/style.css')
  body
    div(class="header")
      h2(class="logo") minQuora
  
    
  
      

 



  

      