block content
    div(id="sidebar-container" class="sidebar")
        ul(class="list-group")
            li(class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed")
            a(data-toggle="sidebar-colapse", 
                | class=" list-group-item list-group-item-action d-flex align-items-center border-0" style="background-color: #512E5F")
                div(class="d-flex w-100 justify-content-start align-items-center")
                span(id="collapse-icon" class="fa fa-2x mr-3")
                span(id="collapse-text" class="menu-collapsed") Menu
            a(href=adminUrl class="d-flex w-100 justify-content-start align-items-center list-group-item list-group-item-action border-0 flex-column align-items-start",
                | style="background-color: #512E5F")
                span(class="mr-auto fa fa-dashboard" title="Dashboard")
                    span(class="pl-2 menu-collapsed") Dashboard
            a(href=bookUrl class="d-flex w-100 justify-content-start align-items-center list-group-item list-group-item-action border-0 flex-column align-items-start",
                | style="background-color: #512E5F")
                span(class="mr-auto fa fa-book" title="Books")
                    span(class="pl-2 menu-collapsed") Books
            a(href=customerUrl class="d-flex w-100 justify-content-start align-items-center list-group-item list-group-item-action border-0 flex-column align-items-start",
                | style="background-color: #512E5F")
                span(class="mr-auto fa fa-user" title="Customers")
                    span(class="pl-2 menu-collapsed") Customers
            a(href="#" class="d-flex w-100 justify-content-start align-items-center list-group-item list-group-item-action border-0 flex-column align-items-start",
                | style="background-color: #512E5F")
                span(class="mr-auto fa fa-truck" title="Couriers")
                    span(class="pl-2 menu-collapsed") Couriers
            a(href="/signout" class="d-flex w-100 justify-content-start align-items-center list-group-item list-group-item-action border-0 flex-column align-items-start",
                | style="background-color: #512E5F")
                span(class="mr-auto fa fa-sign-out" title="Log Out")
                    span(class="pl-2 menu-collapsed") Log Out