extends layout

block content
   div(class="register")
        div(class="container")
            div(class="row justify-content-center")
                div(class="col-md-6")
                    div(class=" sign-up-form mt-2 pl-3 pr-3")
                        a(href="/auth/google" class='btn google-btn bg-danger text-white mb-2 pt-3') Continue with Google
                        p(class="text-center text-white") OR
                        form(method="POST")
                            if error 
                                p.error  #{error}
                            input(type="text" class=" mb-3" placeholder="Email" id="email" name="email" required)
                            input(type="password" class=" mb-3" placeholder="Password" id="password" name="password" required)
                            div(class="float-left")
                                label.remember-me.space(for='')
                                    span.checkbox
                                        input(type='checkbox')
                                        span.checked
                                    |   Remember me
                            div(class="float-right")
                                a(href="#" class="forgot") Forgot Password?
                            div(class="clearfix")
                            div(class="text-center pt-1")
                                button(type="submit" class="login-btn mt-1 btn btn-primary" id="submit") Log In
                                p(class="on-submit")
                                

        script(src="/javascripts/active/login.js")
        script(src='/javascripts/form.js')
        include includes/footer.pug
